version: '3.8'
services:
  web-monitor-go:
    build:
      context: .
      dockerfile: Dockerfile
    image: web-monitor-go:offline
    container_name: web-monitor-go
    privileged: true
    network_mode: host
    environment:
      - PORT=38080
    volumes:
      - /:/hostfs:ro
      - /sys:/sys:ro
      - /proc:/proc
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/utmp:/var/run/utmp:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - web-monitor-data:/data
    restart: unless-stopped

volumes:
  web-monitor-data:
    driver: local
