version: '3.8'
services:
  web-monitor-go:
    build:
      context: .
      dockerfile: Dockerfile
    image: web-monitor-go:latest
    container_name: web-monitor-go
    privileged: true
    network_mode: host
    pid: host
    environment:
      - PORT=38080
      - LANG
      - DATA_DIR=/data
      - JWT_SECRET=${JWT_SECRET}
      - WS_ALLOWED_ORIGINS=${WS_ALLOWED_ORIGINS}
      # NVIDIA GPU Support (Dynamic)
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /:/hostfs
      - /sys:/sys
      - /proc:/proc
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/run/utmp:/var/run/utmp:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - web-monitor-data:/data
    restart: unless-stopped


volumes:
  web-monitor-data:
    driver: local
